header hl {
    font-size: 40pt;
    text-transfoпn: uppercase;
    text-align: center;
    background: url("5856.jpg") left / auto 100% no-repeat;
}
nav {
    font-size: 16pt;
    width: 150px;
    float: left;
}
nav а {
    display: block;
    margin: 10px 0px;
}
section {
    margin-left: 170px;
}